<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="lds-ring">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="modal">
        <div class="modal__content">
            <div class="modal__header">
                <h5>Modal Title</h5>
            </div>
            <div class="modal__body">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, adipisci necessitatibus itaque
                    non vel mollitia provident assumenda neque voluptatem animi!</p>
            </div>
            <div class="modal__footer">
                <button class="modal__buttonClose">Close</button>
            </div>
        </div>
    </div>
    <div class="header">
        <a>OMDB Search</a>
    </div>
    <div class="search">
        <h1>Search Movie</h1>
        <div class="search__searchBar">
            <input type="text">
            <button class="search__searchButton">Search</button>
        </div>
        <div class="divider"></div>
    </div>
    <div class="body-wrapper">
        <div class="body">

        </div>
    </div>
</body>

<script src="/static/apiKey.js"></script>
<script src="/static/script.js"></script>

</html>